@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  color: white;
  background-color: theme("colors.background.primary");
}

:focus {
  outline: none;
}

*:focus-visible {
  @apply ring-2  ring-accent-primary ring-opacity-75;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
}

td {
  padding: theme("padding.2");
  font-weight: theme("fontWeight.medium");
}

th {
  padding: theme("padding.2");
  font-weight: theme("fontWeight.normal");
  color: theme("colors.gray.300");
  border-color: theme("colors.accent.stroke");
  border-top-width: 0.0125rem;
  border-bottom-width: 0.0125rem;
}

th:first-child {
  border-left-width: 0.0125rem;
  border-top-left-radius: theme("borderRadius.md");
  border-bottom-left-radius: theme("borderRadius.md");
}

th:last-child {
  border-right-width: 0.0125rem;
  border-top-right-radius: theme("borderRadius.md");
  border-bottom-right-radius: theme("borderRadius.md");
}
