@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  color: white;
  background-color: theme("colors.background.primary");
}

:focus {
  outline: none;
}

*:focus-visible {
  @apply ring-2  ring-accent-primary ring-opacity-75;
}

td,
th {
  @apply p-2;
}

td {
  @apply font-medium;
}

th {
  @apply text-sm font-normal text-gray-300;
}
